<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styls.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" />
</head>
<body>
    <header>
<img src="/imges/logo mercado liebre.png">

<h4>Lugar para poner la barra de busqueda</h4>
<i class="fa-solid fa-magnifying-glass"></i>

<h4><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>

<nav>
<ul>
    <li>Tiendas oficiales</li> 
    <li>Ventas </li>
    <li> Ayuda</li>
<br>
    <li>Crea tu cuenta<i class="fa-regular fa-id-card"></i></li>
    <li> Ingresa<i class="fa-solid fa-right-to-bracket"></i></li>
    <li> Mis compras<i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
</ul>
</nav>

<i class="fa-sharp fa-solid fa-bars"></i>

<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
</header>


    <main>
        <h1>Basado en tu ultima visita</h1>
<img src="/imges/img-cafetera-moulinex.jpg"alt="hola">
<p class="precio">$6.770</p>
<p class="off">40% OFF</p>
<p class="descripcion">Cafetera Moulinex</p>

<img src="/imges/img-macbook-pro-2019.jpg" alt="">
 v >$230.000</p>
<p class="off">20% OFF</p>
<p class="descripcion">MacBook Pro 2019</p>

<img src="/imges/img-samsung-galaxy-s10.jpg" alt="">
<p class="precio">$70.500</p>
<p class="off">10% OFF</p>
<p class="descripcion">Samsung Galaxy S10</p>


<img src="../public/imges/img-tv-samsung-smart.jpg" alt="">
<p class="precio">$23.200</p>
<p class="off">5% OFF</p>
<p class="descripcion">SmartTb Samsng 43</p> 
    </main>



    <footer>
<br>
<i class="fa-solid fa-credit-card"></i>
    <h2>Pagá con tarjeta o en efectivo</h2>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>

<br>
<i class="fa-solid fa-gift"></i>
<h2>Envío gratis desde $ 2.500</h2>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
    
<br>
<i class="fa-solid fa-user-shield"></i>
    <h2>Seguridad, de principio a fin</h2>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>

    <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
    </footer>

   <P>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</P>
</body>
</html>