<form action="/login" method="POST">
    <input type="text" name="NombreYApellido">
    <br>
    <input type="text" name="NombreDeUsuario">
    <br>
    <input type="date" name="FechaDeNacimiento">
    <br>
    <input type="text" name="Domicilio">
    <br>
    <input type="radio" name="PerfilDelUsuario" value="comprar">
    <br>
    <input type="radio" name="PerfilDelUsuario" value="vender">
    <br>
    <input type="checkbox" name="categoriaDeInteres" value="Electro">
    <br>
    <input type="checkbox" name="categoriaDeInteres" value="Electro">
    <br>
    <input type="checkbox" name="categoriaDeInteres" value="Moda">
    <br>
    <input type="checkbox" name="categoriaDeInteres" value="Hogar">
    <br>
    <input type="checkbox" name="categoriaDeInteres" value="Jugeteria">
    <br>
    <input type="checkbox" name="categoriaDeInteres" value="VidaSana">
    <br>
    <input type="film" name="FotoDeUsuario" accept=".jpg">
    <br>
    <input type="password" name="contrasena">
    <br>
    <input type="password" name="confirmarContrasena">

    <button></button>
</form>

<form action="/crear producto" method="=POST">
<div>
<label>Nombre del producto:</label>
<input type="text">
</div>
</form>