<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/6e660ac36d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Registrate</title>
</head>

<body>
    <header class="header">
        <div class="top-half-header">
            <div class="top-bar-header">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="medium-header">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
        </div>
        <nav class="nav-menu">
            <ul class="first-nav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="second-nav">
                <li><a href="register.html">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main id="content">
        <h1 style="margin-left: 15px; margin-bottom: 10px;">Creá tu cuenta</h1>
        <form class="form">
            <div class="formItem">
                <input class="formBar" type="text" name="Nombre" placeholder="Nombre y apellido">
            </div>
            <div class="formItem">
                <input class="formBar" type="text" name="NombreUsuario" placeholder="Nombre de usuario">
            </div>
            <div class="formItem">
                <input class="formBar" type="email" name="email" placeholder="Email">
            </div>
            <div class="formItem">
                <input class="formBar" type="password" name="password" placeholder="Contraseña">
                <br>
                <input class="formBar" type="password" name="password" placeholder="Confirmar contraseña">
            </div>
            <div class="formItem">
                <label>Fecha de nacimiento</label>
                <input class="formBar" type="date" name="nacimiento">
            </div>
            <div class="formItem">
                <input class="formBar" type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <div class="formItem">
                <label>Perfil del usuario</label>
                <input type="radio" name="perfil" id="buy">
                <p>Comprador</p>
                <input type="radio" name="perfil" id="sell">
                <p>Vendedor</p>
            </div>
            <div class="formItem" id="checkbox">
                <h3>Intereses</h3>
                <label><input type="checkbox" name="electro">Electro</label>
                <label><input type="checkbox" name="moda">Moda</label>
                <label><input type="checkbox" name="hogar">Hogar</label>
                <label><input type="checkbox" name="jugueteria">Jugueteria</label>
                <label><input type="checkbox" name="vidasana">Vida sana</label>
            </div>
            <div class="formItem">
                <label>Foto de usuario</label>
                <input type="file" name="foto">
            </div>
            <div class="formItem">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        <div class="promo">
            <i id="card" class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta de crédito</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div class="promo">
            <i id="gift" class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div class="promo">
            <i id="shield" class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
    </footer>
    <div class="opacity" id="credits">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
</body>

</html>